#head   {background-color: saddlebrown;
height: 200px;
width: 200px;
border-radius: 100%;
margin: 100px 200px;
position: absolute;}


#earLeft    {background-color: saddlebrown;
height: 80px;
width: 80px;
position: absolute;
border-radius: 100%;
margin: 120px 160px;}

#earLeftIn  {background-color: sandybrown;
height: 50px;
width: 50px;
position: absolute;
border-radius: 100%;
margin: 135px 170px;}

#earRight    {background-color: saddlebrown;
height: 80px;
width: 80px;
position: absolute;
border-radius: 100%;
margin: 120px 360px;}

#earRightIn  {background-color: sandybrown;
height: 50px;
width: 50px;
position: absolute;
border-radius: 100%;
margin: 135px 380px;}

#eyeLeft   {background-color: white;
width: 50px;
height: 50px;
position: absolute;
border-radius: 100%;
margin: 150px 240px;}

#eyeLeftIn {background-color: black;
width: 40px;
height: 40px;
position: absolute;
border-radius: 100%;
margin: 155px 245px;}


#eyeRight   {background-color: white;
width: 50px;
height: 50px;
position: absolute;
border-radius: 100%;
margin: 150px 310px;}

#eyeRightIn {background-color: black;
width: 40px;
height: 40px;
position: absolute;
border-radius: 100%;
margin: 155px 315px;}

#nose   {
width: 0;
height: 0;
position: absolute;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 40px solid pink;
margin: 210px 270px;}

#smile   {
width: 0;
height: 0;
position: absolute;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 40px solid red;
margin: 230px 270px;}

#leftChick  {background-color: cornsilk;
width: 60px;
height: 60px;
position: absolute;
border-radius: 100%;
margin: 215px 240px;}

#rightChick  {background-color: cornsilk;
width: 60px;
height: 60px;
position: absolute;
border-radius: 100%;
margin: 215px 300px;}

#leftDot1   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 235px 255px;}

#leftDot2   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 235px 275px;}

#leftDot3   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 255px 265px;}

#rightDot1   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 235px 315px;}

#rightDot2   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 235px 335px;}

#rightDot3   {background-color: black;
width: 10px;
height: 10px;
position: absolute;
border-radius: 100%;
margin: 255px 325px;}

#tummy  {background-color: saddlebrown;
width: 250px;
height: 300px;
border-radius: 50%;
position: absolute;
margin: 290px 175px;}


#tummyIn  {background-color: sandybrown;
width: 150px;
height: 200px;
border-radius: 50%;
position: absolute;
margin: 340px 225px;}

#handLeft   {background-color: saddlebrown;
width: 50px;
height: 150px;
border-radius: 50%;
position: absolute;
transform:rotate(50deg);
margin: 310px 130px;}

#thumbLeft  {background-color: saddlebrown;
width: 20px;
height: 40px;
border-radius: 50%;
position: absolute;
margin: 400px 140px;}

#handRight   {background-color: saddlebrown;
width: 50px;
height: 150px;
border-radius: 50%;
position: absolute;
transform:rotate(-50deg);
margin: 310px 420px;}

#thumbRight  {background-color: saddlebrown;
width: 20px;
height: 40px;
border-radius: 50%;
position: absolute;
margin: 400px 440px;}

#legLeft    {background-color: saddlebrown;
width: 50px;
height: 150px;
border-radius: 50%;
position: absolute;
transform: rotate(50deg);
margin: 500px 140px;}

#legRight    {background-color: saddlebrown;
width: 50px;
height: 150px;
border-radius: 50%;
position: absolute;
transform: rotate(-50deg);
margin: 500px 410px;}

